{% extends "base.html" %}
{% block title %}Nittany Auction - Register{% endblock %}
{% block content %}
<!-- split the registration form and the registration choices on different pages: -->
<!-- we can use jinja to set up if blocks to show/hide sections from class passed in from Flask-->
    <div class="row justify-content-center ">
    <div class="col-md-6 mb-3">
        <a class="" href="{{url_for('auth.register')}}"><i class="bi bi-arrow-left mr-1"></i>Back</a>
        <form method="POST">
        {% if role == 'bidder' or role == 'student_seller' %}
            <!-- Personal Information Section-->
            <div class="row">
                <h5 class="mt-4">Login Credentials</h5>
                <div className="email-field" class="mt-4 mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" id="student_email_field" name="email" class="form-control" required>
                </div>
                <small id="email-error" class="text-danger"></small>
                <div className="password-field" class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" id="password" name="password" class="form-control" required>
                </div>
                <div  className="cpassword-field" class="mb-3">
                    <label class="form-label">Confirm Password</label>
                    <input type="password" id="confirm_password" name="confirm_password" class="form-control" required>
                </div>
                <small id="password-mismatch" class="text-danger"></small>
            </div>
            <h5 class="mt-4 mb-3">Personal Information</h5>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="form-label">First Name</label>
                    <input type="text" name="first_name" class="form-control" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Last Name</label>
                    <input type="text" name="last_name" class="form-control" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="form-label">Age</label>
                    <input type="number" name="age" class="form-control" min="1" max="120">
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Major</label>
                    <input type="text" name="major" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="form-label">Phone</label>
                    <input type="tel" name="phone" class="form-control" required>
                </div>
            </div>
            <!-- Home Address Section -->
            <h5 class="mt-4">Home Address</h5>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label class="form-label">Street Number</label>
                    <input type="text" name="street_num" class="form-control">
                </div>
                <div class="col-md-8 mb-3">
                    <label class="form-label">Street Name</label>
                    <input type="text" name="street_name" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label class="form-label">Zipcode</label>
                    <input type="text" name="zipcode" class="form-control">
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label">City</label>
                    <input type="text" name="city" class="form-control">
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label">State</label>
                    <input type="text" name="state" class="form-control">
                </div>
            </div>
            <script>
                //we need to make sure that bidders and student sellers are using an LSU email and not an outside email address
                const input_email = document.getElementById('student_email_field');
                const errEmail = document.getElementById('email-error');
                const email_check = () =>{
                    const email = input_email.value;
                    if (email && !email.endsWith('@lsu.edu')) {
                        errEmail.textContent = 'You must use an @lsu.edu email address';
                    } 
                    else {
                        errEmail.textContent = '';
                    }
                };

                input_email.addEventListener('input', email_check);

            </script>
        {% endif %}

        {% if role == 'local_vendor' %}
        <!-- We want this block to be before banking details so that the business details can be entered first -->
        
        <!-- Business Information Section -->
        <div class="row">
            <h5 class="mt-4">Login Credentials</h5>
            <div className="email-field" class="mt-4 mb-3">
                <label class="form-label">Email</label>
                <input type="email" name="email" class="form-control" required>
            </div>
            <div className="password-field" class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" id="password" name="password" class="form-control" required>
            </div>
            <div  className="cpassword-field" class="mb-3">
                <label class="form-label">Confirm Password</label>
                <input type="password" id="confirm_password" name="confirm_password" class="form-control" required>
            </div>
            <small id="password-mismatch" class="text-danger"></small>
        </div>
        <h5 class="mt-4 mb-3">Business Information</h5>
        <div class="row align-items-end">
            <div class="col-md-6 mb-3">
                <label class="form-label mb-3">Business Name</label>
                <input type="text" name="business_name" class="form-control" required>
            </div>
            <div class="col-md-6 mb-3">
                <label class="form-label mb-3">Customer Service Phone Number</label>
                <input type="text" name="cs_phone_num" class="form-control" required>
            </div>
        </div>

        <!-- Business Address Section -->
        <h5 class="mt-4 mb-3">Business Address</h5>
        <div class="row">
            <div class="col-md-4 mb-3">
                <label class="form-label">Street Number</label>
                <input type="text" name="street_num" class="form-control">
            </div>
            <div class="col-md-8 mb-3">
                <label class="form-label">Street Name</label>
                <input type="text" name="street_name" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                <label class="form-label">Zipcode</label>
                <input type="text" name="zipcode" class="form-control">
            </div>
            <div class="col-md-4 mb-3">
                <label class="form-label">City</label>
                <input type="text" name="city" class="form-control">
            </div>
            <div class="col-md-4 mb-3">
                <label class="form-label">State</label>
                <input type="text" name="state" class="form-control">
            </div>
        </div>



        {% endif %}

        {% if role == 'student_seller' or role == 'local_vendor' %}

        <!-- Banking Information-->

        <h5 class="mt-4 mb-3">Banking Information</h5>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label class="form-label">Bank Account Number</label>
                <input type="text" name="bank_account_num" class="form-control" required>
            </div>
            <div class="col-md-6 mb-3">
                <label class="form-label">Bank Routing Number</label>
                <input type="text" name="bank_routing_num" class="form-control" required>
            </div>
        </div>


        {% endif %}
            <button class="btn btn-primary w-100 mt-3">Register</button>
        </form>
    </div>
    </div>
    <!-- JavaScript for Form Validation on Password and Email -->
    <script>
        // want to set up an event listener so that it notifies the user whenever the passwords don't match
        const pswd = document.getElementById('password');
        const cpswd = document.getElementById('confirm_password');
        const errPswd = document.getElementById('password-mismatch'); // this is to edit the message that pops up
        
        const pswd_check = () => {
            if(cpswd.value == ''){ //if the confirm password has not been typed yet, it means that the user has not edited
                errPswd.textContent = ''; //set errror message to nothing
            }
            else if(pswd.value !== cpswd.value){
                errPswd.textContent = "Passwords don't match, please try again."
            }
            else{ //means that the passwords are matching
                errPswd.textContent = '';
            }
        }
        cpswd.addEventListener('input', pswd_check);
        pswd.addEventListener('input', pswd_check);
    </script>
    
{% endblock %}